body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

fieldset {
    border:  1px solid #cccccc;
    border-radius: 5px;
    padding: 25px;
  }

form input{
    border:  1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}

form button{
    border:  1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}

select{
    margin: 3% 0 0 0;
}

#animalFact{
    font-size: 16px;
    margin: 0;
    padding: 0;
}